.container {
    height: 600px;
    display: flex;
    background: #333;
    padding: 10px;
    .files{
        width: 250px;
        height: 100%;
        color: white;
        font-family: "monaco";
        font-size: 18px;
        .file {
            cursor: pointer;
            line-height: 30px;
            height: 30px;
        }
    }
    .editor {
        height: 100%;
        flex: 1;
    }
}
